/* Écran de chargement avec fond noir */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}

#loader img {
    width: 200px;
    height: auto;
    animation: moveLogo 1.5s ease-in-out infinite;
}

@keyframes moveLogo {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
.container-accueil{
    width: 90%;
    margin: 0 auto;
}
/* Container principal */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul :hover{
    color: #3498db;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/* Styles pour le bouton burger */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-icon .bar {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

/* Section Accueil */
.section-accueil {
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Derrière le contenu */
    background-color: #000; /* Fond sombre */
}
.section-accueil h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: white; 
}

.section-accueil p {
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    color: #f4f4f4;
}

/* Section À propos */
.section-a-propos {
    padding: 10%;
    background-color: #f4f4f4;
    text-align: center;
}

.section-a-propos h2 {
    margin-bottom: 30px;
    font-size: 3rem;
}

.section-a-propos p {
    font-size: 1.5rem;
    color: #666;
    max-width: 900px;
    margin: 0 auto;
}

/* Section Frameworks */
.section-frameworks {
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
    height: 700px;
}

.frameworks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.framework {
    text-align: center;
    width: 150px;
    max-width: 200px;
}

.framework img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.framework img:hover {
    transform: scale(1.1);
}

.framework p {
    margin-top: 10px;
    font-size: 16px;
}

.section-frameworks h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 90px;
    color: #333;
}

/* Section Projets */

.section-projets h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 90px;
    color: #333;
    align-content: baseline;
    text-align: center;
}
/* Section des projets */
.section-projets {
    padding: 60px 0;
    background-color: #ecf0f1;
    text-align: center;
}

.projets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.5rem;
    width: 100%;
    padding: 45px;
    border-radius: 25px;
    background-color: #f6f6f6;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    perspective: 1000px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Structure de la carte de projet */
.project-inner {
    position: relative;
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* Cacher la carte quand elle n'est pas retournée */
.project-inner.is-flipped {
    transform: rotateY(180deg);
}

/* Face avant : Image et titre */
.project-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.project-front img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
.project-front img:hover {
    transform: scale(1.05);
}
.project-front h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
    font-size: 15px;
}

/* Face arrière : Informations et lien */
.project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    transform: rotateY(180deg);
}
.projet:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.project-back p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.project-back a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.project-back a:hover {
    text-decoration: underline;
}

/* Section Contact */
.section-contact {
    padding: 60px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.section-contact h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.section-contact p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.section-contact ul {
    list-style: none;
}

.section-contact ul li {
    margin: 10px 0;
}

.section-contact a {
    color: #3498db;
    text-decoration: none;
}

.section-contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 21px;
    background-color: #333;
    color: white;
}

/* Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    .projets {
        flex-direction: column;
        align-items: center;
    }

    .projet {
        width: 100%;
    }

    .section-accueil h1 {
        font-size: 2.5rem;
    }

    .section-accueil p {
        font-size: 1rem;
    }
    .menu-icon {
        display: flex;
    }

    #menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        background-color: #333;
        z-index: 9998;
    }

    #menu.active {
        display: flex;
    }

    #menu li {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #menu li a {
        font-size: 16px;
        padding: 10px;
    }

    nav ul {
        padding-top: 0;
    }
    .section-frameworks h2 {
        font-size:large;
    }
    .section-frameworks {
        padding: 100px 0 50px;
    }
    .projets {
        display: block;
    
    }
    .framework img {
        width: 60%;
    
    }
    .container-accueil{
        width: 90%;
        margin: 0 auto;
        padding-top: 50%;
    }

   
